.list-container 
  padding-top: 7rem
  padding-bottom: 2rem
  display: flex
  justify-content: center
  align-items: center

.list-spinner
  height: 70%
  position: absolute
  left: 50%
  transform: translateX(-50%)

.planets-list
  height: 100vh
  width: 80vw
  border-collapse: collapse
  color: #fff
  background-color: rgba(51,51,51,0.7)
  position: relative

  .table-head
    border-bottom: 2px solid #fff
    background-color: rgba(51,51,51,0.9)
    height: 50px;

    th
      width: 20%

    i
      cursor: pointer

  tbody
    height: 600px
    