.list-container 
  padding-top: 9rem
  padding-bottom: 2rem
  display: flex
  justify-content: center
  align-items: center

  .table-container
    position: relative

    .search
      background-color: transparent
      position: absolute
      top: -2.3rem
      left: 0
      width: 25%  
      border-bottom: 1px solid #fff
      color: #fff
      display: flex

      i
        font-size: 1.5rem

      input
        width: 100%
        height: 1.5rem
        background-color: transparent
        border: none
        font-size: 1.5rem
        color: #fff     
        outline: none


.planets-list
  width: 80vw
  border-collapse: collapse
  color: #fff
  background-color: rgba(51,51,51,0.7)
  position: relative

  .table-head
    border-bottom: 2px solid #fff
    background-color: rgba(51,51,51,0.9)
    height: 50px;

    th
      width: 20%

    i
      cursor: pointer

  .list-spinner
    height: 70%
    position: absolute
    left: 50%
    transform: translateX(-50%)

@media (max-width: 830px)
  .list-container
    .table-container
      .search
        width: 50%

  .planets-list
    .table-head
      th:last-child
        display: none

@media (max-width: 365px)
  .list-container
    padding-top: 10rem

    .table-container
      .search
        width: 100%
  
    