.navbar
  display: flex
  justify-content: flex-start
  align-items: center
  background-color: #000;
  color: $star-wars-yellow
  border-bottom: 1px solid $star-wars-yellow
  position: fixed
  width: 100vw
  text-decoration: none
  z-index: 1;


  .logo
    width: 150px
    margin: 0 1rem